{% extends "base.html" %}

{% block title %}
    Cube Roll Page
{% endblock %}

{% block extra_head %}
    <meta name="description" content="This is the cude roll page.">
{% endblock %}

{% block content %}
    <header class="bg-white shadow">
    <div class="mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-2xl font-bold text-gray-900">Cube Roll</h1>
    </div>
    </header>

    <article class="group flex rounded-sm max-w-sm flex-col overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
    <div class="flex flex-col gap-4 p-6">
        <p id="featureDescription" class="text-pretty text-sm">
            Select cubes number and roll them
        </p>
		<p>
			<div x-data="{
					options: [
						{
							value: 'One',
							label: 'One',
						},
						{
							value: 'Two',
							label: 'Two',
						},
						{
							value: 'Three',
							label: 'Three',
						},
						{
							value: 'Four',
							label: 'Four',
						},
					],
					isOpen: false,
					openedWithKeyboard: false,
					selectedOption: null,
					setSelectedOption(option) {
						this.selectedOption = option
						this.isOpen = false
						this.openedWithKeyboard = false
						this.$refs.hiddenTextField.value = option.value
					},
					highlightFirstMatchingOption(pressedKey) {
						const option = this.options.find((item) =>
							item.label.toLowerCase().startsWith(pressedKey.toLowerCase()),
						)
						if (option) {
							const index = this.options.indexOf(option)
							const allOptions = document.querySelectorAll('.combobox-option')
							if (allOptions[index]) {
								allOptions[index].focus()
							}
						}
					},
				}" class="w-full max-w-xs flex flex-col gap-1" x-on:keydown="highlightFirstMatchingOption($event.key)" x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false">
				<label for="cubesnumber" class="w-fit pl-0.5 text-sm text-neutral-600 dark:text-neutral-300">Cubes number</label>
				<div class="relative">
					<!-- trigger button  -->
					<button type="button" role="combobox" class="inline-flex w-full items-center justify-between gap-2 whitespace-nowrap border-neutral-300 bg-neutral-50 px-4 py-2 text-sm font-medium capitalize tracking-wide text-neutral-600 transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:border-neutral-700 dark:bg-neutral-900/50 dark:text-neutral-300 dark:focus-visible:outline-white rounded-sm border" aria-haspopup="listbox" aria-controls="industriesList" x-on:click="isOpen = ! isOpen" x-on:keydown.down.prevent="openedWithKeyboard = true" x-on:keydown.enter.prevent="openedWithKeyboard = true" x-on:keydown.space.prevent="openedWithKeyboard = true" x-bind:aria-label="selectedOption ? selectedOption.value : 'Please Select'" x-bind:aria-expanded="isOpen || openedWithKeyboard">
						<span class="text-sm font-normal" x-text="selectedOption ? selectedOption.value : 'Please Select'"></span>
						<!-- Chevron  -->
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
							<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
						</svg>
					</button>
					<!-- hidden input to grab the selected value  -->
					<input id="cubesnumber" name="cubesnumber" type="text" x-ref="hiddenTextField" hidden/>
					<ul x-cloak x-show="isOpen || openedWithKeyboard" id="cubesnumberList" class="absolute z-10 left-0 top-11 flex max-h-44 w-full flex-col overflow-hidden overflow-y-auto border-neutral-300 bg-neutral-50 py-1.5 dark:border-neutral-700 dark:bg-neutral-900 rounded-sm border" role="listbox" aria-label="cubesnumber list" x-on:click.outside="isOpen = false, openedWithKeyboard = false" x-on:keydown.down.prevent="$focus.wrap().next()" x-on:keydown.up.prevent="$focus.wrap().previous()" x-transition x-trap="openedWithKeyboard">
						<template x-for="(item, index) in options" x-bind:key="item.value">   
							<li class="combobox-option inline-flex justify-between gap-6 bg-neutral-50 px-4 py-2 text-sm text-neutral-600 hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/5 focus-visible:text-neutral-900 focus-visible:outline-hidden dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white" role="option" x-on:click="setSelectedOption(item)" x-on:keydown.enter="setSelectedOption(item)" x-bind:id="'option-' + index" tabindex="0" >
								<!-- Label  -->
								<span x-bind:class="selectedOption == item ? 'font-bold' : null" x-text="item.label"></span>
								<!-- Screen reader 'selected' indicator  -->
								<span class="sr-only" x-text="selectedOption == item ? 'selected' : null"></span>
								<!-- Checkmark  -->
								<svg x-cloak x-show="selectedOption == item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
								</svg>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</p>
		<p>
		    <div x-data="{posts:[{title: 'None'}],}" class="overflow-hidden w-full overflow-x-auto rounded-sm border border-neutral-300 dark:border-neutral-700">
			<button @click="updateMessage($data)" class="ml-2 mt-2 mb-2 px-4 py-2 font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75">
			Generate
			</button>
			<br>
			<table class="w-full text-left text-sm text-neutral-600 dark:text-neutral-300">
			<thead class="border-b border-neutral-300 bg-neutral-50 text-sm text-neutral-900 dark:border-neutral-700 dark:bg-neutral-900 dark:text-white">
				<th scope="col" class="p-4">Roll results</th>
			</thead>
			<tbody class="divide-y divide-outline dark:divide-outline-dark">
			<template x-for="post in posts">
				<tr><td class="p-4" x-text="post.title"></tr>
			</template>
			</tbody>
			</table>
			</div>
		</p>
    </div>
    </article>
<script>
function getRandomArbitrary(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}
function updateMessage(data) {
  cubesNum = document.getElementById("cubesnumber").value;
  if (cubesNum.length == 0) {
    data.posts = [{title: 'None'}]
	return
  }
  options = {"One": 1, "Two": 2, "Three": 3, "Four": 4};
  num = options[cubesNum];
  posts_data = [];
  for(i=0; i<num; i++) {
    value = getRandomArbitrary(1, 20).toString();
	item = {title: value};
	posts_data.push(item);
  }
  data.posts = posts_data;
}
</script>
{% endblock %}
