{% extends "base.html" %}
{% block content %}
<header class="bg-white shadow">
  <div class="mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">Login</h1>
  </div>
</header>
<br>
<div class="w-1/2">
<form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="whitespace-nowrap rounded-sm bg-black border
      border-black px-4 py-2 text-sm font-medium tracking-wide text-neutral-100 transition hover:opacity-75
      text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100
      active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-white dark:border-white dark:text-black
      dark:focus-visible:outline-white">Login</button>
    <input type="hidden" name="next" value="{% url 'dnd:index' %}" />
</form>
</div>
{% endblock content %}
